# 请先在本文件所在目录建立本文件的副本，名为'Config.py'，再修改填充该文件内容
db_config = {'host': 'xxxxx', 'username': 'xxxx', 'password': 'xxxx', 'database': 'xxxx'}
account = {'username': 'xxxxxxx', 'password': 'xxxxx', 'start': 'xx', 'end': 'xxx'}
